<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="/base/layout">

<head th:include="/base/layout :: head"></head>
<body>
<section id="container" layout:fragment="content">
    <div th:replace="base/header :: header">Header</div>
    <div th:replace="base/aside :: aside">left</div>
    <div th:replace="base/slidebar :: slidebar">slidebar</div>
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="panel-body" style="padding-bottom:0px;">
                <div class="panel panel-default">
                    <div class="panel-heading">查询条件</div>
                    <div class="panel-body">
                        <form id="formSearch" class="form-horizontal">
                            <div class="form-group" style="margin-top:15px">
                                <label class="control-label col-sm-1" for="txt_search_departmentname">部门名称</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="txt_search_departmentname">
                                </div>
                                <label class="control-label col-sm-1" for="txt_search_statu">状态</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="txt_search_statu">
                                </div>
                                <div class="col-sm-4" style="text-align:left;">
                                    <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <table id="tb_user"></table>
            </div>
        </section>
    </section>
    <!--main content end-->
    <div th:replace="base/footer :: footer">footer</div>
</section>

<script src="../user/user.js"></script>

</body>
</html>