<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base/layout"
      th:with="pageTitle='ThrStones 用户管理', primaryPage='Admin', secondaryPage='UserManager', creatable=true">
<head>
</head>
<body>
<th:block layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">查询条件</header>
                <div class="panel-body">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <input class="form-control" id="txt_search_name" name="txt_search_name" placeholder="Enter Name" type="text"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="txt_search_email" name="txt_search_email" placeholder="Enter Email" type="text"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="txt_search_qq" name="txt_search_qq" placeholder="Enter QQ" type="text"/>
                        </div>
                        <button type="submit" class="btn btn-success">查询</button>
                    </form>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <div id="toolbar">
                        <h4>用户表</h4>
                    </div>
                    <table id="tb_user"></table>
                   <!-- <br/>
                    <button id="btn_add" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;新增
                    </button>
                    <button id="btn_delete" type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;禁用
                    </button>-->
                </div>
            </section>
        </div>
    </div>
    <section class="wrapper-detail">
        <div class="row">
            <div class="col-xs-12" id="detail">
            </div>
        </div>
    </section>
</th:block>

<th:block layout:fragment="bodyScript">
    <script th:src="@{/project/user.js(t=${timestamp})}"></script>
</th:block>

</body>
</html>