<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="/base/layout :: head"></head>

<body class="login-body">

<div class="container">

    <form id="form" class="form-signin" action="/index/index.html">
        <h2 class="form-signin-heading">登录</h2>
        <div class="login-wrap">
            <input name="email" type="text" class="form-control" placeholder="邮箱" autofocus>
            <input name="password" type="password" class="form-control" placeholder="Password">
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> 记住密码
                <span class="pull-right">
                    <!--<a onclick="resetClick()" href="javascript:void(0)"> 忘记密码 ?</a>-->
                    <a href="reset.html"> 忘记密码 ?</a>

                </span>
            </label>
            <button class="btn btn-lg btn-login btn-block" type="submit">登录</button>
            <p>或者你可以通过社交网络登录 </p>
            <footer class="social-footer">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa fa-qq"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-weibo"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-weixin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>
                </ul>
            </footer>

            <!-- <br/>
             <div class="registration" style="text-align: center">
                 还没有用户?
                 <a class="" href="/registration.html">
                     注册
                 </a>
             </div>-->

        </div>
    </form>

<!--    <section class="wrapper-detail">
        <div class="row">
            <div class="col-xs-12" id="detail">
            </div>
        </div>
    </section>-->
</div>
</body>
<<!--script type="text/javascript">
    function resetClick() {
        alert("llll");
        $(".container").addClass("div-none");

        $.ajax({
            type: "GET",
            url: "/reset.html",
            timeout: 50000,
            cache: false,
            success: function (result) {
                $("#detail").html(result);
            },
            error: function () {
                $("#message").html("Request time out");
            }
        });
    }
</script>-->
</html>
