<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      lang="en"
      th:attr="data-page=(${primaryPage} and ${secondaryPage} ? (${primaryPage} + '-' + ${secondaryPage}) : '')">

<head th:with="timestamp=${#dates.format(#dates.createNow(),'yyyyMMddHH')}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ThrStones 个人小站">
    <meta name="author" content="ThrStones">
    <meta name="keyword" content="ThrStones, thrstones, Java, java, JAVA, Bootstrap, JavaWEB">

    <!-- 页面标题 -->
    <title th:text="${pageTitle}"></title>
    <!-- 网站图标 -->
    <link rel="icon" th:href="@{/img/favicon.png(t=${timestamp})}"/>
    <!-- 全局样式 -->
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.css(t=${timestamp})}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-reset.css(t=${timestamp})}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-table.css(t=${timestamp})}" rel="stylesheet">
    <!--external css-->
    <link th:href="@{/assets/font-awesome/css/font-awesome.css(t=${timestamp})}" rel="stylesheet"/>
    <link th:href="@{/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css(t=${timestamp})}" rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/css/owl.carousel.css(t=${timestamp})}" type="text/css" rel="stylesheet">

    <!--right slidebar-->
    <link th:href="@{/css/slidebars.css(t=${timestamp})}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/style.css(t=${timestamp})}" rel="stylesheet">

    <link th:href="@{/project/style.css(t=${timestamp})}" rel="stylesheet">
    <link th:href="@{/css/style-responsive.css(t=${timestamp})}" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script th:src="@{/js/html5shiv.js(t=${timestamp})}"></script>
    <script th:src="@{/js/respond.min.js(t=${timestamp})}"></script>
    <![endif]-->
</head>

<body style="overflow-x:hidden;" th:with="timestamp=${#dates.format(#dates.createNow(),'yyyyMMddHH')}">

<section>
    <div th:replace="base/header :: header">Header</div>
    <div th:replace="base/aside :: aside">left</div>
    <div th:replace="base/slidebar :: slidebar">slidebar</div>
    <!-- 页面内容片段 -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <th:block layout:fragment="content"></th:block>
        </section>
    </section>
    <div th:replace="base/footer :: footer">footer</div>
</section>

<!-- <div th:replace="fragments/alert :: alert">alert</div>-->


<!-- js placed at the end of the document so the pages load faster -->
<script th:src="@{/js/jquery.js(t=${timestamp})}"></script>
<script th:src="@{/js/bootstrap.min.js(t=${timestamp})}"></script>
<script th:src="@{/js/bootstrap-table.js(t=${timestamp})}"></script>
<script th:src="@{/js/bootstrap-table-zh-CN.js(t=${timestamp})}"></script>
<script th:src="@{/js/jquery.dcjqaccordion.2.7.js(t=${timestamp})}" class="include" type="text/javascript"></script>
<script th:src="@{/js/jquery.scrollTo.min.js(t=${timestamp})}"></script>
<script th:src="@{/js/jquery.nicescroll.js(t=${timestamp})}" type="text/javascript"></script>
<script th:src="@{/js/jquery.sparkline.js(t=${timestamp})}" type="text/javascript"></script>
<script th:src="@{/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js(t=${timestamp})}"></script>
<script th:src="@{/js/owl.carousel.js(t=${timestamp})}"></script>
<script th:src="@{/js/jquery.customSelect.min.js(t=${timestamp})}"></script>
<script th:src="@{/js/jquery.validate.min.js(t=${timestamp})}"></script>
<script th:src="@{/js/respond.min.js(t=${timestamp})}"></script>

<!--right slidebar-->
<script th:src="@{/js/slidebars.min.js(t=${timestamp})}"></script>

<!--common script for all pages-->
<script th:src="@{/js/common-scripts.js(t=${timestamp})}"></script>

<!--script for this page-->
<script th:src="@{/js/sparkline-chart.js(t=${timestamp})}"></script>
<script th:src="@{/js/easy-pie-chart.js(t=${timestamp})}"></script>
<script th:src="@{/js/count.js(t=${timestamp})}"></script>
<script th:src="@{/js/form-validation-script.js(t=${timestamp})}"></script>
<!-- 各页面脚本 -->
<th:block layout:fragment="bodyScript"></th:block>
</body>
</html>